.nav-content{
    position: fixed;
    right: 20px;
}
.nav-text{
    color: rgb(255, 255, 255);
}
.navbar{
background-color: #6a5acd;
}
.nav-text{
    color:white;
    padding-left: 2rem;
    padding-top: 0.7rem;
    text-decoration: none;
}
.nav-text:hover {
    color: white;
    
}