.courses{
    float: left;
    margin-bottom: px;
}
.course-head{
    font-size: 2.5rem;
    font-weight: 800;
    width: 100%;
   color: darkslategray;
   

    
}



.course-number{
    float: left;
    font-weight: 800;
    font-size: 4rem;
 
   
}
.course-name{
    float: left;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    width: 3rem;
}
.course-list{
   
}

.each-course{
    height: 6rem;
color: white;
outline: none;
border: none;
font-size: 100;
font-weight: 50px;
border-radius: 25px;
padding-top: 0.5rem;
padding-left: 2rem;
padding-right: 2rem;
padding-bottom: 0.5rem;
background-color: #9370DB;
cursor: pointer;

}

.hq{
}
.c-description{
    color: darkslategray;
    font-weight: 500;
   


}
.single-course{
    padding-right: 1rem;
   float: left;

   
}
.row{
    padding-top: 1rem;
   
}
.course-icon{
text-align: end;
}
.cd-description{
    color:gray ;
    font-weight: 500;

   
}
